<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <form [formGroup]="addTodosForm" (ngSubmit)="submitForm();">
    <mat-card class="add-todos-card">
        <mat-card-header>
          <mat-card-title class="add-todos-title">New Todos</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">

          <mat-form-field>
            <mat-label>Owner</mat-label>
            <input matInput placeholder="owner" formControlName="owner"
                  required>
            <mat-error *ngFor="let validation of addTodosValidationMessages.owner">
              <mat-error class="error-message" data-test="ownerError"
                        *ngIf="addTodosForm.get('owner').hasError(validation.type) && (addTodosForm.get('owner').dirty || addTodosForm.get('owner').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Body</mat-label>
            <input matInput placeholder="body" formControlName="body"
                  required>
            <mat-error *ngFor="let validation of addTodosValidationMessages.body">
              <mat-error class="error-message" data-test="bodyError"
                        *ngIf="addTodosForm.get('body').hasError(validation.type) && (addTodosForm.get('body').dirty || addTodosForm.get('body').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Category</mat-label>
            <input matInput placeholder="category" formControlName="category"
                  required>
            <mat-error *ngFor="let validation of addTodosValidationMessages.category">
              <mat-error class="error-message" data-test="categoryError"
                        *ngIf="addTodosForm.get('category').hasError(validation.type) && (addTodosForm.get('category').dirty || addTodosForm.get('category').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select required formControlName="status">
              <mat-option value="false">Incomplete</mat-option>
              <mat-option value="true">Complete</mat-option>
            </mat-select>
            <mat-error *ngIf="addTodosForm.get('status').hasError('required')">You must make a selection</mat-error>
            <mat-error *ngIf="addTodosForm.get('status').hasError('pattern') && !addTodosForm.get('status').hasError('required')">
              Your selection is invalid
            </mat-error>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions align="end">
          <button
            mat-button
            type="button"
            color="primary"
            [disabled]="!addTodosForm.valid"
            type="submit"
            data-test="confirmAddTodosButton"
          >
            ADD TODO
          </button>
        </mat-card-actions>
    </mat-card>
  </form>
  </div>
</div>
